@{
    ViewBag.Title = "About";
}
<main aria-labelledby="title">
    <h2 id="title">About StocKeeper</h2>
    <h3>Made in November 27th of 2024</h3>

    <p>This is a System we, Club Eijay made for our ELDNET Subject</p>
    <p>This is an ASP.NET MVC Inventory Management Web Application</p>
</main>