@{
    ViewBag.Title = "Contact";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        Club Eijay Corp<br />
        University Of Cebu - Banilad<br />
        <abbr title="Phone">P:</abbr>
        425.555.0100
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:Support@example.com">eijay.pepito8@gmail.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">eijay.pepito8@gmail.com</a>
    </address>
</main>